# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
- List popular languages for Data Science
- List commonly used libraries used by Data Scientists
- Make a table of Data scinece tools

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Scala

Some of the commonly used libraries used by Data Scientists include:
1. NumPy.
2. Keras.
3. Pandas.
4. PyTorch.

|Data scinece tools|
-------
|RStudio|
|Apache Spark|
|TensorFlow|

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [2]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [5]:
hours = 200/60
print(hours)

3.3333333333333335

## Author
Farzad Jafarinia